/* structure */

body {
    text-align: center;
    background-color: #111827;
    font-size: larger;
    font-weight: 600;
    color: #CBCFCA;
}

body.war {
    background-color: brown;
}

.index.heading {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 15px 50px;
}

#break { /* this is between the imgs and buttons in the main menu */
    clear: both;
}



p.crumb {
    background-color: antiquewhite;
    color: #111827;
    margin-right: 90%;
    text-align: left;
}

/* images */

img.menu.side {
    float: left;
    height: 200px;
    width: 20%;
    padding: 30px;
    border-radius: 50px;  
}

.img-boar {
    height: auto;
    width: 500px;
    border-radius: 15px;
}

.img-bread {
    width: auto;
    height: 300px;
    border-radius: 15px;
}

.img-mead {
    width: auto;
    height: 300px;
    border-radius: 15px;
}

.img-war {
    height: auto;
    width: 500px;
    border-radius: 15px;
}

/* ^ Apply to all recipe images? */

#horizontal-imgs {
    margin-left: 7%;  
}


/*  buttons */


button.menu.link {
    background-color: whitesmoke;
    color: 111827;
    font-size: 22px;
    padding: 10px 24px;
    border-radius: 15px;
    transition-duration: 0,4s;
}

button.menu.link:hover {
    background-color: black;
    color: whitesmoke;
}

button.back.home {
    font-size: large;
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 14px 24px;
    border-radius: 10px;
    transition-duration: 0,4s;
}

button.back.home:hover {
    background-color: white;
    color: red;
}

button.back.home.war {
    background-color: #111827;
    border-radius: 10px;
    transition-duration: 0,4s;
}

button.back.home.war:hover{
    background-color: white;
    color: black;
}

#horizontal-buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 16%;
}


/* lists */


ol,
ul {
    text-align: center;
    list-style-position: inside;
    margin-right: 3%;
}


